replicaCount: 2

image:
  repository: mordo12/exercise-manager
  pullPolicy: Always
  tag: "latest"

service:
  type: NodePort
  port: 8000
  nodePort: 30080

nfs:
  server: 10.0.1.33
  path: /srv/nfs/kubedata
  pvName: nfs-pv
  pvcName: nfs-pvc
  storage: 10Gi

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi